_site/*
img/csml_logo_vector.eps
img/ellis-logo-large.png
img/ellis_logo1_1280_transparent.png
img/ellis_logo1_1280_white.png
img/people/notes.txt
people/_posts/update_image_name.py
.jekyll-cache/*
scripts/*
