 <!-- News Section -->
 <section id="events">
    <div class="container portfolio-flex-grid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Events</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="portfolio-flex-row">
            {% assign num_events = site.categories.events | size %}
            {% if num_events == 0 %}
            <div class="col-lg-12 text-center">
                <h3> Stay tuned </h3>
            </div>
            {% else %}
                {% for event in site.categories.events %}

                    <div style="max-width: 100%;" class="porforlio-flex-item porforlio-item">
                        <a href={{ post.link }}", class="news-link porforlio-link">
                            <div class="row" style="padding-bottom: 30px">
                                <div class="col-md-2" style="padding: 2px; text-align: center;">
                                    <div id="over" style="position:relative; width:100%; height:100%">
                                        <img src=/img/news/{{ post.img }} class="img-responsive"></img>
                                    </div>                                
                                </div>

                                <div class="col-md-10">
                                    <h3 class="person-name"> {{ post.title }}</h3>
                                    <p class="news-date"> {{ page.date | date_to_long_string }} </p>
                                    <p> {{ post.summary }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
