 <!-- News Section -->
 <section id="events">
    <div class="container portfolio-flex-grid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Events</h2>
                <hr class="star-primary">
            </div>
        </div>
        {% assign num_events = site.categories.events | size %}
        {% if num_events == 0 %}
            <div class="col-lg-12 text-center">
                <h3> Stay tuned </h3>
            </div>
        {% else %}
            <div class="row">
                <a href="http://www.csml.ucl.ac.uk/events/lunch_talks" >
                    <div class="col-lg-12 text-center" style="margin-top: 20pt; margin-bottom: 10pt;">
                        <h3 style="color: gray;"> Deepmind CSML Lunch Talks </h3>
                    </div>
                </a>
            </div>
            <div class="portfolio-flex-row">
                {% for event in site.categories.events %}

                    <div style="max-width: 100%;" class="porforlio-flex-item porforlio-item">
                        <a href="{{ event.link }}", class="news-link porforlio-link">
                            <div class="row" style="padding-bottom: 30px">
                                <div class="col-md-2" style="padding: 2px; text-align: center;">
                                    <div id="over" style="position:relative; width:100%; height:100%">
                                        <div id="img-news">
                                            <img  src=/img/news/{{ event.img }} class="img-responsive"></img>
                                        </div>
                                    </div>                                
                                </div>

                                <div class="col-md-10">
                                    <h3 class="person-name"> {{ event.title }}</h3>
                                    <!-- <h4 href="{{ event.join_link}}"> Join link</h4> -->
                                    <div class="col-md-6">
                                        <h5 class="news-date" style="color: gray"> Event Date: {{ event.event_date | date_to_long_string }} </h5>
                                    </div>
                                    <div class="col-md-6">
                                        <h5 class="news-date" style="color: gray"> Posted Date: {{ event.posted_date | date_to_long_string }} </h5>
                                    </div>
                                    <p> {{ event.summary }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %} 
            </div>
        {% endif %}
    </div>
</section>
