<!-- Header -->
<header>
  <div class="container", style="min-height: 100vh;">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6"><img class="img-responsive" src="img/ellis-logo.png" alt="profile-pic" /></div>
          <div class="col-lg-6"><img class="img-responsive" src="img/csml_logo_vector.png" alt="profile-pic" /></div>
        </div>
        
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <hr class="star-light" />
          <span class="skills">{{ site.about }}</span>
         </div>
        
          <div class="porforlio-flex-rox">
            {% for quote in site.quotes | reverse %}
                <div style="max-width: 100%; padding-top: 40px;" class="porforlio-flex-item porforlio-item">
                      <p class="person-name"> &ldquo;{{ quote.quote }} &rdquo;</p>
                      <p class="news-date"> {{ quote.epigrammatist }} <br> {{ quote.position }} </p>
                </div>
            {% endfor %}
              </div>      
      </div>
    </div>
  </div>
</header>
