\<!DOCTYPE html>dm_csml_event_details
<html>
    <style>
      #dm_csml_event_details {
        width: 100%;
      }
      
      #dm_csml_event_details th{
          padding: 5px;
          vertical-align: top;
      }

    </style>



    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav_other.html %}
    
    <!-- CSML Seminars Event page-->
    <section id="portfolio", class="success">
       <div class="container portfolio-flex-grid">
           <div class="row">
              <div class="col-lg-12 text-center" style="margin-top: 20pt">
                  <h3 style="margin-top: 10">{{ page.title }}</h3>
                  <hr class="star-light-grey">
                  </div>
          </div>
        <div>
            <table id="dm_csml_event_details">
                <tr>
                    <th><p><strong>Speaker</strong></p></th>
                    <th> <p>{{page.speaker}}</p></th>
                </tr>
                <tr>
                    <th><p><strong>Affiliation</strong></p></th>
                    <th> <p>{{page.affiliation}}</p></th>
                </tr>
                <tr>
                    <th><p><strong>Date</strong></p></th>
                    <th> <p>{{page.event_start_time | date: "%A, %d %B %Y"}}</p></th>
                </tr>
                <tr>
                    <th><p><strong>Time</strong></p></th>
                    <th> <p>{{ page.event_start_time | date: "%H:%M" }}-{{page.event_end_time | date: "%H:%M" }}</p></th>
                </tr>
                <tr>
                    <th><p><strong>Location</strong></p></th>
                    <th><a href="{{ page.join_link }}"><p>{{page.join_link}}</p></a></th>
                </tr>
                <tr>
                    <th><p><strong>Event series</strong></p></th>
                    <th><p>DeepMind/ELLIS CSML Seminar Series</p></th>
                </tr>
                <tr>
                    <th><p><strong>Summary</strong></p></th>
                    <th><p>{{page.summary}}</p></th>
                </tr>
            </table>

        </div>
    </section>
    {% include footer.html %}
    {% include js.html %}
    
    </body>
</html>