<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav_other.html %}
    
    <!-- CSML Seminars Event page-->
    <section id="portfolio", class="success">
       <div class="container portfolio-flex-grid">
           <div class="row">
              <div class="col-lg-12 text-center" style="margin-top: 20pt">
                  <h3 style="margin-top: 10">{{ page.title }}</h3>
                  <hr class="star-light-grey">
                  </div>
          </div>
    </section>
    {% include footer.html %}
    {% include js.html %}
    
    </body>
</html>